{% extends "pages/base.html" %}
{% block subtitulo %}Sobre{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Sobre Nós!</b></h1>
<hr>
<div class="row row-cols-lg-2 row-cols-sm-1">
   <div>
       <p class="lead" style="text-align: justify;">
           O projeto CineList é parte da disciplina de Desenvolvimento para Web, ministrada pelo professor doutor Ricardo Maroquio no Instituto Federal do Espírito Santo. O site funciona como um gerenciador de filmes assistidos. O usuário se cadastra, faz login e pode cadastrar os filmes que assistiu, além de visualizar a lista de filmes e as avaliações ou comentários atribuídos.
        </p>
   </div>
   <div>
    <p class="lead" style="text-align: justify;">
        O projeto foi desenvolvido pelos alunos Gabriely Machado Carrari e Vitor Miller de Toledo, ambos técnicos em Informática formados pelo IFES Campus Cachoeiro e, atualmente, cursando o sétimo período do curso de Sistemas de Informação pela mesma instituição.</p>
    </div> 
</div>

<h5 class="display-6"><b>Contato:</b></h5>
<div class="row row-cols-md-2  row-cols-sm-1">
    <div>
        <div class="d-flex">
            <i class="bi bi-person-fill fs-4 me-1"></i>
            <p class="lead mt-1">Gabriely Machado Carrari</p>
        </div>
    
        <div class="d-flex">
            <i class="bi bi-envelope-at-fill fs-4 me-1"></i>
            <p class="lead mt-1">gabrielycarrari@gmail.com</p>
        </div>
    
        <div class="d-flex">
            <i class="bi bi-github fs-4 me-1"></i>
            <p class="lead mt-1">https://github.com/gabrielycarrari</p>
        </div>
    </div>

    <div>
        <div class="d-flex">
            <i class="bi bi-person-fill fs-4 me-1"></i>
            <p class="lead mt-1">Vitor Miller de Toledo</p>
        </div>
    
        <div class="d-flex">
            <i class="bi bi-envelope-at-fill fs-4 me-1"></i>
            <p class="lead mt-1">vitormillerdetoledo@gmail.com</p>
        </div>
    
        <div class="d-flex">
            <i class="bi bi-github fs-4 me-1"></i>
            <p class="lead mt-1">https://github.com/VitorMiller</p>
        </div>
    </div>
    
</div>
{% endblock %}